.header {
  padding: 4.5rem 0;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  align-self: center;
}

.nav {
  background-color: #F9FBFE;
  border-radius: 4.4rem;
  padding: 1.3rem 5.25rem;
  align-self: stretch;
  display: flex;
  align-items: center;
}
.nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 6.8rem;
}
.nav__link {
  display: inline-block;
  text-decoration: none;
  color: #6F6F6F;
  transition: all 0.2s;
}
.nav__link:hover {
  color: #0069FF;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  height: calc(100vh - 16.7rem);
  padding: 0 4rem;
}
.hero__textbox {
  display: flex;
  flex-direction: column;
  max-width: 51rem;
  padding-bottom: 15rem;
  gap: 2rem;
}
.hero__heading {
  font-size: 4rem;
  line-height: 4.25rem;
  font-weight: normal;
  color: #090814;
}
.hero__name {
  font-weight: bold;
  color: #0069FF;
}
.hero__role {
  display: block;
  font-weight: bold;
}
.hero__description {
  font-size: 2.4rem;
  line-height: 2.7rem;
}
.hero__img {
  width: 100%;
  max-width: 71.4rem;
  height: auto;
}

.active {
  font-weight: bold;
  color: #0069FF;
}

.btn {
  background-color: #0069FF;
  color: #ffffff;
  padding: 1rem 3.5rem;
  border-radius: 2.3rem;
  border: 0.2rem solid #0069FF;
  transition: all 0.2s;
  text-decoration: none;
}
.btn:hover {
  background-color: transparent;
  border: 0.2rem solid #0069FF;
  color: #0069FF;
}
.btn--upwork {
  align-self: flex-start;
}
.btn--contact {
  align-self: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #B6B6B6;
}

.container {
  max-width: 192rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 14.2rem;
}

.services, .projects, .contact {
  border-top: 1px solid #f1f1f1;
  position: relative;
  text-align: center;
  padding: 7rem 0 15rem 0;
}
.services::before, .projects::before, .contact::before {
  position: absolute;
  content: "";
  top: 7rem;
  left: -10rem;
  width: 11.4rem;
  height: 7.1rem;
  background-image: url("../img/blocks-design.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.services::after, .projects::after, .contact::after {
  position: absolute;
  content: "";
  top: 20rem;
  right: -10rem;
  width: 11.4rem;
  height: 7.1rem;
  background-image: url("../img/blocks-design.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.services {
  max-height: 100vh;
  text-align: center;
}
.services__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
}

.title {
  padding-bottom: 10rem;
}

.card {
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card > *:not(:first-child) {
  padding: 3rem;
}
.card__header {
  background-color: #0069FF;
  border-radius: 3rem 3rem 0 0;
}
.card__title {
  padding: 2rem 3rem;
  color: #ffffff;
}
.card__content {
  border: 1px solid #0069FF;
  border-radius: 0 0 3rem 3rem;
  min-height: 60rem;
}
.card__img {
  width: 100%;
  max-width: 31.3rem;
  height: auto;
}
.card__img-container {
  padding-bottom: 1.5rem;
}
.card__list {
  list-style-position: inside;
  text-align: left;
}
.card__item {
  text-indent: -2.25rem;
  padding-left: 2.25rem;
  padding-bottom: 1.5rem;
}

.projects__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.8rem 3rem;
  gap: 7rem;
  background-color: #F9FBFE;
  width: 65.5rem;
  margin: 0 auto;
  border-radius: 4.4rem;
}
.projects__tab-btn {
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #6F6F6F;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}
.projects__tab-btn--active {
  color: #0069FF;
  font-weight: bold;
}
.projects__tab-btn--active::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: #0069FF;
}
.projects__content-container {
  max-width: 130rem;
  margin: 0 auto;
  padding-top: 7.5rem;
}
.projects__content {
  display: none;
}
.projects__content--active {
  width: 130rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(37.5rem, 1fr));
  justify-content: center;
  grid-gap: 4rem;
  width: 100%;
  margin: 0 auto;
}
.projects__item {
  background-color: #F9FBFE;
  height: 37.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__text {
  font-size: 2.4rem;
  color: #090814;
  text-transform: uppercase;
  margin: 8.5rem 0 2.5rem 0;
}

.footer {
  font-family: inherit;
  font-size: 1.2rem;
  background-color: #0069FF;
  text-align: center;
  padding: 3rem 0;
  color: #ffffff;
  width: 100%;
}
.footer__copyright {
  padding-top: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
