@use './variables' as v;

.header {
  padding: 4.5rem 0;
  display: flex;
  justify-content: space-between;
  
  &__logo {
    align-self: center;
  }
}

.nav {
  background-color: v.$gray-light;
  border-radius: 4.4rem;
  padding: 1.3rem 5.25rem;
  align-self: stretch;

  display: flex;
  align-items: center;

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 6.8rem;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: v.$gray;
    transition: all .2s;

    &:hover {
      color: v.$blue;
    }

  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  height: calc(100vh - 16.7rem);
  padding: 0 4rem;

  &__textbox {
    display: flex;
    flex-direction: column;
    max-width: 51rem;
    padding-bottom: 15rem;
    gap: 2rem;
  }

  &__heading {
    font-size: 4rem;
    line-height: 4.25rem;
    font-weight: normal;
    color: v.$black;
  }

  &__name {
    font-weight: bold;
    color: v.$blue;
  }

  &__role {
    display: block;
    font-weight: bold;
  } 

  &__description {
    font-size: 2.4rem;
    line-height: 2.7rem;
  }

  &__img {
    width: 100%;
    max-width: 71.4rem;
    height: auto;
  }
}

.active {
  font-weight: bold;
  color: v.$blue;
}